.inputNombre {
    height: 1.5rem;
    width: 15rem;
}

.inputNombre:hover {
    background-color: #adb5bd;
}
.inicio{
    text-align: center;
}

@keyframes animacion {
    0%{
        opacity: 25%;
        color: white
    }
    100%{
        opacity: 100%;
        color: black
    }
}

.tituloTomas{
    font-size: 3rem;
    animation: animacion 6s infinite;
}
