.header li {
    list-style: none;
    margin: 5px 5px;
    color: white;
    text-decoration: none;
}

.header li:hover {
    color: #00b4d8
}

.header ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    border-bottom: white solid 0.5rem;
}



